<div class="about">
    <div class="container">
        <h2 class="title">
            Как все будет проходить
        </h2>
        <div class="step step--1">
            <div class="text">
                <h5 class="lil-title">
                    Lorem, ipsum dolor.
                    <i class="arrow"></i>
                </h5>
                <p class="description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quibusdam quidem earum alias ipsam. Accusamus?
                </p>
                <div class="image-box">
                    <i class="image">
                        <i class="waves"></i>
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>