<section class="about">
    <div class="container">
        <h2 class="title">
            Как все будет проходить
        </h2>
        <div class="step step--1">
            <div class="text">
                <h5 class="lil-title">
                    Простое запоминание
                    <i class="arrow"></i>
                </h5>
                <p class="description">
                    Слова запоминаются в результате упрощенных техник и применения в спонтанных ситуациях, а не посредством зубрежки
                </p>
                <div class="image-box">
                    <i class="image">
                        <i class="waves"></i>
                    </i>
                </div>
            </div>
        </div>
        <div class="step step--2">
            <div class="text">
                <h5 class="lil-title">
                    Импровизация и диалоги
                    <i class="arrow"></i>
                </h5>
                <p class="description">
                    Форма импровизации позволяет подготовиться к ситуации, когда шаблонные ответы будут неприменимы
                </p>
                <div class="image-box">
                    <i class="image"></i>
                </div>
            </div>
        </div>
        <div class="step step--3">
            <div class="text">
                <h5 class="lil-title">
                    Говорим и слушаем
                    <i class="arrow"></i>
                </h5>
                <p class="description">
                    Прослушивание себя и профессионалов позволит 
                    научиться воспринимать чужую речь на слух
                </p>
                <div class="image-box">
                    <i class="image"></i>
                </div>
            </div>
        </div>
        <div class="step step--4">
            <div class="text">
                <h5 class="lil-title">
                    Говорим и слушаем
                    <i class="arrow"></i>
                </h5>
                <p class="description">
                    Прослушивание себя и профессионалов позволит 
                    научиться воспринимать чужую речь на слух
                </p>
                <div class="image-box">
                    <i class="image"></i>
                </div>
            </div>
        </div>
    </div>
</section>