<footer class="footer">
    <div class="container">
        <div class="cols">
            <div class="col col--wide">
                <a href="#" class="logo">
                    <span class="logo__dot">.</span><span class="logo__txt">YES</span>
                </a>
                <div class="text">
                    <span class="address">
                        Школа Английского Языка
                    </span> 
                    <span class="address">
                        г. Москва ул. Северная, 35    
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="social">
                    <a href="#" class="link"><i class="fico fico-vk"></i></a>
                    <a href="#" class="link"><i class="fico fico-insta"></i></a>
                    <a href="#" class="link"><i class="fico fico-yt"></i></a>
                    <a href="#" class="link"><i class="fico fico-ok"></i></a>
                </div>
                <span class="number">
                    +7 (945) 46-54-67
                </span>
                <a href="#" class="order">
                    Заказать звонок
                </a>
            </div>
        </div>
    </div>
</footer>