<footer class="footer">
    <div class="container">
        <div class="cols">
            <div class="col">
                <a href="#" class="logo">
                    <span class="logo__dot">.</span><span class="logo__txt">YES</span>
                </a>
                <p class="address">
                    Школа  Английского Языка г. Москва ул. Северная, 35    
                </p>
            </div>
            <div class="col">
                <div class="social">
                    <a href="#" class="link"><i class="fico fico-vk"></i></a>
                    <a href="#" class="link"><i class="fico fico-insta"></i></a>
                    <a href="#" class="link"><i class="fico fico-yt"></i></a>
                    <a href="#" class="link"><i class="fico fico-ok"></i></a>
                </div>
                <span class="number">
                    Lorem ipsum dolor sit.
                </span>
                <a href="#" class="order">
                    Lorem, ipsum dolor.
                </a>
            </div>
        </div>
    </div>
</footer>