<div class="free-lesson">
    <div class="container">
        <i class="image"></i>
        <i class="circles"></i>
        <div class="col">
            <h2 class="title">
                бесплатное пробное занятие
            </h2>
            <p class="text">
                Приходите на бесплатное первое занятие по теме “аэропорт” и ощутите пользу сразу!
            </p>
            <a href="#" class="order-btn">
                Записаться на пробное занятие   
            </a>
        </div>
    </div>
</div>