<header class="header">
    <div class="huge-bg-text">
        <span class="bigger">english</span>
        <span class="smaller">yes</span>
    </div>
    <div class="container">
        <div class="header-bar">
            <a href="/" class="logo">
                <span class="logo__dot">.</span><span class="logo__txt">YES</span>
            </a>
            <ul class="contacts">
                <li class="contact">
                    <span class="contact--address">
                        г. Москва ул. Северная, 35
                    </span>
                </li>
                <li class="contact">
                    <a href="#" type="tel" class="contact--number">
                        +7 (945) 46-54-67
                    </a>
                </li>
                <li class="contact">
                    <a href="#" class="contact--link">
                        Заказать звонок
                    </a>
                </li>
            </ul>
        </div>
        <div class="col">
            <h1 class="title-bigger">
                <span class="title">
                    Ускоренный
                </span>
                2-месячный курс английского языка
            </h1>
            <p class="txt">
                Освойте английский для путешествий 
                и научитесь объясняться в любой ситуации 
            </p>
            <a href="#" class="order-btn" id="js_btn">
                Записаться на пробное занятие  
            </a>
        </div>
    </div>
</header>