<div class="overlay" id="js_overlay">
    <form action="" method="POST" class="order">
        <h2 class="title">
            Пробное занятие
        </h2>   
        <p class="description">
            Оставьте свой номер телефона и наш оператор свяжется с вами для согласования даты занятия
        </p>
        <input type="text" class="phn-number">
        <input type="submit" class="btn" value="Записаться на пробное занятие">
        <div class="cross" id="js_popup-close"></div>
    </form>
</div>