<section class="price">
    <div class="container">
        <div class="contnt">
            <div class="img-part">
                <i class="img"></i>
                <i class="circle-gray"></i>
                <i class="circle-blue"></i>
            </div>
            <div class="text-part">
                <h2 class="title">
                    что входит в стоимость            
                </h2>
                <span class="price-value">
                    21 000 рублей 
                </span>
                <span class="text">
                    Вы пройдете 2-месячную программу по 2 занятия в неделю, в конце каждой из которых сможете самостоятельно построить диалог               
                </span>
                <div class="weeks">
                    <div class="weeks__col">
                        <div class="week">
                            <h5 class="lil-title">
                                1 неделя - аэропорт
                            </h5>
                            <span class="description">
                                Вылет-прилет, регистрация, специальный и пограничный, потеря багажа, задержка рейса
                            </span>
                        </div>
                        <div class="week">
                            <h5 class="lil-title">
                                2 неделя - дорога, трансфер
                            </h5>
                            <span class="description">
                                Поиск транспорта, пункты назначения, общение с водителем (уточнения, просьбы, остановки)
                            </span>
                        </div>
                        <div class="week">
                            <h5 class="lil-title">
                                3 неделя - гостиница, ночлег
                            </h5>
                            <span class="description">
                                Поиск ночлега, бронирование, уточнение условий проживания, решение проблем с персоналом
                            </span>
                        </div>
                        <div class="week">
                            <h5 class="lil-title">
                                4 неделя - культурный отдых
                            </h5>
                            <span class="description">
                                Покупка билетов, туров, уточнение обстоятельств, потеря напарника, сопровождающего.
                            </span>
                        </div>
                    </div>
                    <div class="weeks__col">
                        <div class="week">
                            <h5 class="lil-title">
                                5 неделя - местность, поиск
                            </h5>
                            <span class="description">
                                Выяснение дороги, направления,  местонахождения (собственного и необходимых мест)
                            </span>
                        </div>
                        <div class="week">
                            <h5 class="lil-title">
                                6 неделя - магазины
                            </h5>
                            <span class="description">
                                Выбор, общение с продавцами, выяснение цены, торг, покупка, возврат, случаи мошеничества
                            </span>
                        </div>
                        <div class="week">
                            <h5 class="lil-title">
                                7 неделя - общение с местными
                            </h5>
                            <span class="description">
                                Непринужденные беседы, вопросы, просьбы о помощи, совместный обед, времяпрепровождения
                            </span>
                        </div>
                        <div class="week">
                            <h5 class="lil-title">
                                8 неделя - неожиданные ситуации
                            </h5>
                            <span class="description">
                                Разбор непредвиденных случаев (потеря документов, обращение в полицию, скорую)                            
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>