<section class="reviews">
    <div class="container">
        <i class="waves"></i>
        <h2 class="title">
            Отзывы студентов
        </h2>
        <div class="row">
            <div class="carousel">
                <div class="review">
                    <img src="../img/avatar.jpg" alt="photo" class="avatar-part">
                    <div class="text-part">
                        <a href="#" class="name">
                            Александра Иванова
                        </a>
                        <p class="review-text">
                            Курс прошел незаметно и оставил после себя только хорошие воспоминания. Нашу группу на постоянной основе вела Алла, Настя и Женя приходили к нам для нарабатывания практики общения.
                            Неделю назад были с мужем в Лондоне - хоть люди разные и речь у всех разная,но было так легко и спокойно! Мы ни разу не заблудились, в аэропорту меня водила за собой пожилая пара в качестве переводчика. Спасибо вам, это было очень полезно!
                        </p>
                        <a href="#" class="link">
                            Вконтакте
                        </a>
                    </div>
                </div>           
                <div class="review">
                    <img src="../img/avatar.jpg" alt="photo" class="avatar">
                    <div class="text-part">
                        <a href="#" class="name">
                            Lorem, ipsum dolor.
                        </a>
                        <p class="review-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates esse nam at quis, sequi suscipit?
                        </p>
                        <a href="#" class="link">
                            Вконтакте
                        </a>
                    </div>
                </div>    
                <div class="review">
                    <img src="../img/avatar.jpg" alt="photo" class="avatar">
                    <div class="text-part">
                        <a href="#" class="name">
                            Lorem, ipsum.
                        </a>
                        <p class="review-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas enim quam aliquid accusamus soluta voluptate, doloribus alias laboriosam numquam exercitationem libero! Suscipit, aperiam architecto.
                        </p>
                        <a href="#" class="link">
                            Вконтакте
                        </a>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</section>