<section class="situations">
    <div class="container">
        <h1 class="title">
            Бывали ли вы в подобных ситауциях   
        </h1>
        <div class="situation situation--1">
            <p class="txt">
                Вы думали, что знаете английский, но в гостинице с трудом выговариваете, какой номер вам нужен  
                <span class="caption">
                    <span class="text">01</span><span class="dot">.</span>
                </span>
            </p> 
            <div class="img-box">
                <i class="img"></i>
            </div>
        </div>
        <div class="situation situation--2">
            <div class="img-box">
                <i class="img"></i>
            </div>
            <p class="txt">
                Вы смогли спросить, до какой станции метро нужно дойти, но не поняли,куда вас отправили
                <span class="caption">
                    <span class="text">02</span><span class="dot">.</span>
                </span>
            </p> 
        </div>
        <div class="situation situation--3">
            <p class="txt">
                В аэропорту при любом подозрении на задрежку, вы ищите представителя, хоть как-то говоряшего по-русски
                <span class="caption">
                    <span class="text">03</span><span class="dot">.</span>
                </span>
            </p> 
            <div class="img-box">
                <i class="img"></i>
            </div>
        </div>
        <div class="situation situation--4">
            <div class="img-box">
                <i class="img"></i>
            </div>
            <p class="txt">
                    Все это портит впечатление от отдыха и отбивает желание посещать новые страны
                <span class="caption">
                    <span class="text">в итоге...</span>
                    <span class="dot">.</span>
                </span>
            </p> 
        </div>
    </div>
    </div>
</section>