<section class="teachers">
    <div class="container">
        <h2 class="title">
            кто ведет курс
        </h2>
        <div class="description-bar">
            <div class="description">
                <i class="photo photo--1"></i>
                <h5 class="lil-title">
                    Алла Ристовская
                </h5>
                <p class="text">
                    Занимается преподаванием английского языка с 2007 года. За 7 лет практики Алла занималась более чем с 80 студентами.Очень любит путешествовать: неоднократно бывала зарубежом,проходила практику в США (Нью-Йорк) и Великобритании (Лондон).
                </p>
            </div>
            <div class="description">
                <i class="photo photo--2"></i>
                <h5 class="lil-title">
                    Анастасия Левчук
                </h5>
                <p class="text">
                    Закончила Алтайскую Государственную педагогическую Академию по специальности "теория и методика преподавания иностранных языков и культур". Также имеется дополнительная квалификация "переводчик в сфере профессиональной коммуникации".
                </p>
            </div>
            <div class="description">
                <i class="photo photo--3"></i>
                <h5 class="lil-title">
                    Евгений Пак
                </h5>
                <p class="text">
                    Сетифицированный спеуиалист (диплом ОмГПУ, TTC в Кембридже, TESOL в Лондоне). Имеет богатый опыт работы на английском языке: от обучения в языковых школах до выполнения функции переводчика на различных конференциях. Более года Евгений жил в г. Сиэтл (США).
                </p>
            </div>
        </div>
        <div class="waves">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>
</section>