.about
	padding:  40px 0 375px 0 
	background: url('../img/ellipse_bg2.png') no-repeat center
	//background-position: 50% 200px
	background-size: cover
	position: relative
	z-index: 0
	+r(991)
		padding-bottom: 190px
	+r(767)
		padding-top: 85px
		padding-bottom: 100px
		text-align: center
	.title
		position: relative
		text-transform: uppercase
		font-family: $GilroyExtraBold
		font-size: 45px
		line-height: 1.2
		margin-bottom: 157px
		max-width: 350px
		padding-bottom: 43px
		+r(991)
			font-size: 30px
			padding-bottom: 25px
			margin-bottom: 155px
		+r(767)
			margin-bottom: 30px
			margin-left: auto
			margin-right: auto
		&::after
			content: ""
			position: absolute
			height: 7px
			width: 64px
			background-color: $pseudoRedBg
			//right: 0
			bottom: 0
			left: 3px
			+r(767)
				left: 50%
				transform: translateX(-50%)
	.step
		position: relative
		+r(767)
			margin-bottom: 40px
		.text
			//display: inline-block
			//padding-left: 36px
			font-size: 18px
			max-width: 488px
			+r(991)
				font-size: 16px
				max-width: 300px
			+r(767)
				font-size: 14px
				margin-left: auto
				margin-right: auto
			.lil-title
				position: relative
				font-family: $GilroyExtraBold
				margin-bottom: 15px
				//display: inline
				padding-left: 36px
				+r(767)
					display: inline-block
					padding-right: 36px
				.arrow
					position: absolute
					height: 3px
					width: 13px
					background-color: $pseudoRedBg
					left: 0
					top: 50%
					transform: translate(0, -50%)
					&::after
						content: ""
						position: absolute
						height: 2.5px
						width: 7px
						background-color: $pseudoRedBg
						right: 0
						//top: 0%
						transform: translate(4px, 1px) rotate(-30deg)
					&::before
						content: ""
						position: absolute
						height: 2.5px
						width: 7px
						background-color: $pseudoRedBg
						right: 0
						//bottom: 0%
						transform: translate(4px, -1px) rotate(30deg)
			.description
				font-family: $GilroyLight
				line-height: 1.4
				padding-left: 36px
				color: $pseudoBlackTxt
				+r(767)
					padding: 0
					margin-bottom: 24px
		.image-box
			z-index: -1
			position: absolute
			right: 0
			top: 50%
			transform: translate(0, -50%)
			//line-height: 0
			+r(767)
				position: static
				transform: none
			.image
				//z-index: -1
				position: relative
				//display: inline-block
				display: block
				//line-height: 0
				//border: 1px solid #000
				+r(767)
					margin-left: auto
					margin-right: auto
				&::after
					z-index: -1
					position: absolute
					font-family: $GilroyExtraBold
					font-size: 122px
					color: $pseudoGrayBg2
					letter-spacing: 6px
					+r(767)
						display: none

				.waves
					position: absolute
					height: 10px
					width: 66px
					background: url('../img/svg/wave.svg') no-repeat center
					top: 45px
					right: 0
					transform: translateX(36px)
					+r(767)
						display: none
					&::after
						content: ""
						position: absolute
						height: 10px
						width: 66px
						background: url('../img/svg/wave.svg') no-repeat center
						bottom: 100%
						left: 0
					&::before
						content: ""
						position: absolute
						height: 10px
						width: 66px
						background: url('../img/svg/wave.svg') no-repeat center
						top: 100%
						left: 0
		&--1
			margin-bottom: 315px
			+r(991)
				margin-bottom: 170px
			.text
				//max-width: 488px
			.image-box
				right: 0
				top: 50%
				//background-color: pink
				.image
					background: url('../img/about1.jpg') no-repeat center	
					background-size: cover
					width: 555px
					height: 333px
					+r(1199)
						width: 345px
						height: 208px
					+r(767)
						width: 290px
						height: 175px
					&::after
						content: "просто"
						top: 30px
						left: -410px
						+r(1199)
							top: -30px
						+r(991)
							font-size: 72px
							right: 100%
							left: initial
							top: 0
							transform: translate(20px, -10px)
					&::before
		&--2
			margin-bottom: 290px
			padding-right: 67px
			+r(991)
				padding-right: 32px
				margin-bottom: 140px
			+r(767)
				padding: 0
			.text
				margin-right: 0
				margin-left: auto
			.image-box
				left: 0
				top: 50%
				//background-color: pink
				transform: translate(0, calc(-50% - 20px))
				.image
					background: url('../img/about2.jpg') no-repeat center	
					background-size: cover
					width: 555px
					height: 333px
					+r(1199)
						width: 345px
						height: 208px
					+r(767)
						width: 290px
						height: 175px
					&::after
						content: "общение"
						top: 45px
						right: -518px
						+r(1199)
							top: -30px
						+r(991)
							font-size: 72px
							right: initial
							left: 100%
							top: 0
							transform: translateX(-20px)
					&::before
						content: ""
						position: absolute
						left: 50px
						top: -50px
						height: 23px
						width: 23px
						border-radius: 50%
						background-color: $pseudoBlueBg
						+r(767)
							display: none
		&--3
			margin-bottom: 330px
			+r(991)
				margin-bottom: 150px
			.text
				//max-width: 488px
			.image-box
				right: 0
				top: 50%
				//background-color: pink
				.image
					background: url('../img/about3.jpg') no-repeat center	
					background-size: cover
					width: 555px
					height: 333px
					+r(1199)
						width: 345px
						height: 208px
					+r(767)
						width: 290px
						height: 170px
					&::after
						content: "практика"
						top: 30px
						right: 100%
						transform: translateX(12px)
						+r(1199)
							top: -30px
						+r(991)
							font-size: 72px
							top: 0
							transform: translateX(-5px)
					&::before		
		&--4
			//margin-bottom: 315px
			padding-right: 67px
			+r(991)
				padding-right: 32px
			+r(767)
				padding: 0
				margin-bottom: 0
			.text
				margin-right: 0
				margin-left: auto
			.image-box
				left: 0
				top: 50%
				//background-color: pink
				.image
					background: url('../img/about4.jpg') no-repeat center	
					background-size: cover
					width: 555px
					height: 333px
					+r(1199)
						width: 345px
						height: 208px
					+r(767)
						height: 167px
						width: 290px
					&::after
						content: "повтор"
						top: 35px
						left: 100%
						transform: translateX(-5px)
						+r(1199)
							top: -30px
						+r(991)
							font-size: 72px
							top: -10px
							transform: translateX(30px)
					&::before
						content: ""
						position: absolute
						top: 0
						right: 0
						//background-color: $pseudoBlueBg
						height: 55px
						width: 55px
						border: 15px solid $pseudoBlueBg
						border-radius: 50%
						transform: translate(50%, -50%)
						+r(767)
							display: none