.footer
    padding: 45px 0 38px 0
    background-color: #f8f8f8
    .logo
        //position: relative
        //z-index: 5
        display: inline-block
        font-family: $MuseoSansCyrl
        font-size: 48px
        text-decoration: none
        margin-bottom: 15px
        +r(991)
            font-size: 30px
        &__dot
            color: black
        &__txt	
            color: $pseudoRedTxt
    .cols
        display: flex
        justify-content: space-between
        align-items: flex-end
        +r(767)
            flex-direction: column
            align-items: center
            text-align: center
        .col
            //display: inline-block
            .text
                display: flex
                justify-content: space-between
                font-family: $GilroyLight
                font-size: 18px
                //line-height: 1.6
                color: $pseudoBlackTxt
                //max-width: 205px
                +r(991)
                    flex-direction: column
                    font-size: 16px
                +r(767)
                    font-size: 14px
                .name
                    display: inline-block
                    +r(991)
                        margin-bottom: 10px
                .address
                    display: inline-block
            .social
                margin-bottom: 25px
                text-align: right
                +r(991)
                    margin-bottom: 17px
                .link
                    margin-right: 20px
                    &:last-of-type
                        margin-right: 0
                    .fico
                        font-size: 35px
                        color: #cbcbcb
                    &:hover
                        .fico
                            color: $pseudoRedBg
            .number
                display: inline-block
                font-family: $GilroyLight
                font-size: 18px
                color: $pseudoBlackTxt
                //margin-bottom: 18px
                margin-right: 25px
                +r(991)
                    font-size: 16px
                    display: block
                    margin-bottom: 10px
                    margin-right: 0
                    text-align: right
                +r(767)
                    text-align: center
                    font-size: 14px
            .order
                display: inline-block
                font-family: $GilroyLight
                font-size: 18px
                color: $pseudoRedTxt2
                position: relative
                //padding-bottom: 6px
                text-decoration: none
                +r(991)
                    font-size: 16px
                    text-align: right
                    float: right
                +r(767)
                    font-size: 14px
                    float: none
                &::after
                    content: ""
                    position: absolute
                    //bottom: 0
                    bottom: -6px
                    left: 0
                    right: 0
                    height: 2px
                    background-color: #fa8895
            &--wide
                flex-grow: 1
                margin-right: 30px
                +r(767)
                    margin-right: 0
                    margin-bottom: 30px

