.footer
    padding: 45px 0 38px 0
    background-color: #f8f8f8
    .logo
        //position: relative
        //z-index: 5
        display: inline-block
        font-family: $MuseoSansCyrl
        font-size: 48px
        text-decoration: none
        margin-bottom: 15px
        &__dot
            color: black
        &__txt	
            color: $pseudoRedTxt
    .cols
        display: flex
        justify-content: space-between
        align-items: flex-end
        .col
            //display: inline-block
            .text
                display: flex
                justify-content: space-between
                font-family: $GilroyLight
                font-size: 18px
                //line-height: 1.6
                color: $pseudoBlackTxt
                //max-width: 205px
                .name
                    display: inline-block
                .address
                    display: inline-block
            .social
                margin-bottom: 25px
                text-align: right
                .link
                    margin-right: 20px
                    &:last-of-type
                        margin-right: 0
                    .fico
                        font-size: 35px
                        color: #cbcbcb
            .number
                display: inline-block
                font-family: $GilroyLight
                font-size: 18px
                color: $pseudoBlackTxt
                //margin-bottom: 18px
                margin-right: 25px
            .order
                display: inline-block
                font-family: $GilroyLight
                font-size: 18px
                color: $pseudoRedTxt2
                position: relative
                //padding-bottom: 6px
                text-decoration: none
                &::after
                    content: ""
                    position: absolute
                    //bottom: 0
                    bottom: -6px
                    left: 0
                    right: 0
                    height: 2px
                    background-color: #fa8895
            &--wide
                flex-grow: 1
                margin-right: 30px

