.prediction
    padding: 155px 0 150px 0
    .container
        position: relative
        &::before
            content: ""
            position: absolute
            width: 145px
            height: 19px
            bottom: -150px
            right: 217px
            background: url('../img/svg/wave.svg') no-repeat center
        &::after
            content: ""
            position: absolute
            width: 1018px
            height: 608px
            background: url('../img/photo.png') no-repeat center
            left: 100%
            top: 50%
            transform: translate(-530px, -420px)
        .title
            font-family: $GilroyExtraBold
            font-size: 45px
            line-height: 1.2
            text-transform: uppercase
            max-width: 500px
            position: relative
            margin-bottom: 110px
            &::after
                content: ""
                position: absolute
                width: 64px
                height: 7px
                background-color: $pseudoRedBg
                left: 4px
                bottom: -40px
        .col
            display: inline-block
            padding: 0 15px
            font-size: 18px
            letter-spacing: 0.5px
            margin-right: 30px
            &:last-of-type
                margin-right: 0
            &__title
                font-family: $GilroyExtraBold
                margin-bottom: 15px
                position: relative
                &::after
                    z-index: -1
                    content: ""
                    position: absolute
                    height: 50px
                    width: 50px
                    background-color: $pseudoGrayBg
                    border-radius: 50%
                    top: 0
                    left: 0
                    transform: translate(-50%, -50%)
            &__text
                display: inline-block
                font-family: $GilroyLight
                line-height: 1.4
                max-width: 240px
