.reviews
	overflow-x: hidden
	padding: 80px 0 150px 0 
	+r(991)
		padding: 135px 0 105px 0
	+r(767)
		padding: 70px 0 0 0
		text-align: center
	.container
		position: relative
		&::after
			z-index: -1
			content: ""
			position: absolute
			height: 410px
			width: 410px
			border: 110px solid $pseudoGrayBg
			border-radius: 50%
			top: 0
			right: 0
			transform: translate(130px, -470px)
			+r(991)
				top: 40px
				height: 280px
				width: 280px
				border: 80px solid $pseudoGrayBg
				transform: translate(155px, -100%)
			+r(767)
				display: none
		&::before
			display: none
			+r(991)
				display: block
				content: ""
				position: absolute
				height: 23px
				width: 23px
				background-color: $pseudoBlueBg
				border-radius: 50%
				top: 0
				right: 0			
				transform: translate(-160px, 10px)	
			+r(767)
				display: none
		.waves
			//display: inline-block
			position: absolute
			margin-left: 20px
			width: 66px
			height: 10px
			background: url('../img/svg/wave.svg') no-repeat center
			top: 70px
			left: 100%
			+r(991)
				display: none
			&::before
				content: ""
				position: absolute
				height: 10px
				width: 66px
				bottom: 100%
				left: 0
				background: url('../img/svg/wave.svg') no-repeat center
			&::after
				content: ""
				position: absolute
				height: 10px
				width: 66px
				top: 100%
				left: 0
				background: url('../img/svg/wave.svg') no-repeat center			
		.title
			font-family: $GilroyExtraBold
			font-size: 45px
			position: relative
			text-transform: uppercase
			padding-bottom: 43px
			margin-bottom: 60px
			+r(991)
				font-size: 30px
				padding-bottom: 32px
				margin-bottom: 60px
			+r(767)
				font-size: 24px
				margin-bottom: 50px
			&::after
				content: ""
				position: absolute
				height: 7px
				width: 64px
				background-color: $pseudoRedBg
				bottom: 0
				left: 0 
				+r(767)
					left: 50%
					transform: translateX(-50%)
		.carousel
			margin: 0
			.review
				outline: none
				display: flex
				padding: 15px 0 86px 0
				margin: 0 15px
				//border: 1px solid #000
				position: relative
				+r(991)
					padding-top: 0
				+r(767)
					flex-direction: column
					padding-bottom: 45px
				&::after
					content: ""
					position: absolute
					height: 23px
					width: 23px
					background-color: $pseudoBlueBg
					border-radius: 50%
					top: 0
					right: 172px
					+r(991)
						display: none
				.avatar-part
					margin-right: 30px
					+r(767)
						margin-right: auto
						margin-left: auto
						margin-bottom: 30px
					.photo	
				.text-part
					padding: 0 150px 0 35px
					+r(991)
						padding: 0
					.name
						display: block
						font-family: $GilroyExtraBold
						font-size: 18px
						color: $pseudoBlackTxt
						margin-bottom: 35px
						letter-spacing: 1px
						text-decoration: none
						+r(991)
							font-size: 16px
						+r(767)
							font-size: 14px
							margin-bottom: 15px
					.review-text
						font-family: $GilroyLight
						font-size: 18px
						color: $pseudoBlackTxt
						line-height: 1.4
						margin-bottom: 30px
						+r(991)
							font-size: 16px
						+r(767)
							font-size: 14px
					.link
						display: inline-block
						text-decoration: none
						font-family: $GilroyLight
						font-size: 18px
						color: $pseudoRedTxt2
						position: relative
						padding-bottom: 6px
						line-height: 0.8
						&::after
							content: ""
							position: absolute
							left: 0
							right: 0
							bottom: 0
							height: 2px
							background-color: $pseudoPink
			.custom-dots
				position: absolute
				bottom: 0
				list-style: none
				display: block
				text-align: center
				padding: 0
				margin: 0
				width: 100%
				li 
					position: relative
					display: inline-block
					height: 15px
					width: 15px
					margin: 0 10px
					padding: 0
					//background-color: $pseudoGrayBg2
					button
						//cursor: pointer
						border-radius: 50%
						border: 0
						//background: transparent
						display: block
						height: 15px
						width: 15px
						outline: none
						line-height: 0px
						font-size: 0px
						color: transparent
						padding: 0
						cursor: pointer
						//background-color: red
						//&:hover
							outline: none
						//&:focus
							outline: none
				.slick-active
					button
						background-color: $pseudoRedBg
						box-shadow: 0px 5px 18px rgba(245,17,44,.55)
