.reviews
	padding: 80px 0 150px 0 
	.container
		position: relative
		&::after
			z-index: -1
			content: ""
			position: absolute
			height: 410px
			width: 410px
			border: 110px solid $pseudoGrayBg
			border-radius: 50%
			top: 0
			right: 0
			transform: translate(130px, -470px)
		.waves
			//display: inline-block
			position: absolute
			margin-left: 20px
			width: 66px
			height: 10px
			background: url('../img/svg/wave.svg') no-repeat center
			top: 70px
			left: 100%
			&::before
				content: ""
				position: absolute
				height: 10px
				width: 66px
				bottom: 100%
				left: 0
				background: url('../img/svg/wave.svg') no-repeat center
			&::after
				content: ""
				position: absolute
				height: 10px
				width: 66px
				top: 100%
				left: 0
				background: url('../img/svg/wave.svg') no-repeat center			
		.title
			font-family: $GilroyExtraBold
			font-size: 45px
			position: relative
			text-transform: uppercase
			padding-bottom: 43px
			margin-bottom: 60px
			&::after
				content: ""
				position: absolute
				height: 7px
				width: 64px
				background-color: $pseudoRedBg
				bottom: 0
				left: 0 
		.carousel
			margin: 0
			.review
				outline: none
				display: flex
				padding: 15px 0 86px 0
				margin: 0 15px
				//border: 1px solid #000
				position: relative
				&::after
					content: ""
					position: absolute
					height: 23px
					width: 23px
					background-color: $pseudoBlueBg
					border-radius: 50%
					top: 0
					right: 172px
				.avatar-part
					margin-right: 30px
					.photo	
				.text-part
					padding: 0 150px 0 35px
					.name
						display: block
						font-family: $GilroyExtraBold
						font-size: 18px
						color: $pseudoBlackTxt
						margin-bottom: 35px
						letter-spacing: 1px
						text-decoration: none
					.review-text
						font-family: $GilroyLight
						font-size: 18px
						color: $pseudoBlackTxt
						line-height: 1.4
						margin-bottom: 30px
					.link
						display: inline-block
						text-decoration: none
						font-family: $GilroyLight
						font-size: 18px
						color: $pseudoRedTxt2
						position: relative
						padding-bottom: 6px
						line-height: 0.8
						&::after
							content: ""
							position: absolute
							left: 0
							right: 0
							bottom: 0
							height: 2px
							background-color: $pseudoPink
			.custom-dots
				position: absolute
				bottom: 0
				list-style: none
				display: block
				text-align: center
				padding: 0
				margin: 0
				width: 100%
				li 
					position: relative
					display: inline-block
					height: 15px
					width: 15px
					margin: 0 10px
					padding: 0
					//background-color: $pseudoGrayBg2
					button
						//cursor: pointer
						border-radius: 50%
						border: 0
						//background: transparent
						display: block
						height: 15px
						width: 15px
						outline: none
						line-height: 0px
						font-size: 0px
						color: transparent
						padding: 0
						cursor: pointer
						//background-color: red
						//&:hover
							outline: none
						//&:focus
							outline: none
				.slick-active
					button
						background-color: $pseudoRedBg
						box-shadow: 0px 5px 18px rgba(245,17,44,.55)
