.situations
    //overflow: hidden
    padding: 210px 0 270px 0
    background: url('../img/ellipse_bg.png') no-repeat 
    //background-size: cover
    //background-size: 3060px 2100px
    background-size: cover
    background-position: top 0 left calc(50% - 300px)
    //position: relative
    z-index: 0
    +r(991)
        background-position: top 0 left 50%
        padding-bottom: 220px
        padding-top: 130px
    .title
        z-index: 5
        font-family: $GilroyExtraBold
        font-size: 45px
        line-height: 1.2
        max-width: 360px
        //padding: 30px 0
        text-transform: uppercase
        position: relative
        margin-bottom: 110px
        +r(991)
            font-size: 30px
            max-width: 240px
            margin-bottom: 155px
        &::after
            content: "?"
            z-index: -1
            position: absolute
            font-family: $GilroyExtraBold
            font-size: 300px
            color: $pseudoGrayTxt2
            top: 50%
            transform: translateY(-50%)
            right: -55px
            +r(991)
                font-size: 200px
    .situation
        display: flex
        align-items: center
        .txt
            display: inline-block
            text-align: left
            font-family: $GilroyLight
            font-size: 18px
            line-height: 1.4
            color: $pseudoBlackTxt
            position: relative
            +r(991)
                font-size: 16px
            .caption
                z-index: 1
                position: absolute
                font-family: $GilroyExtraBold
                font-size: 48px
                bottom: 100%
                .text
                    font-family: $GilroyExtraBold
                    font-size: 48px
                    color: black
                .dot
                    font-family: $GilroyExtraBold
                    font-size: 48px
                    color: $pseudoRedTxt2
        .img-box
            display: inline-block
            line-height: 0
            //border: 1px solid #000
            position: relative
            .img
                //z-index: 0
                position: absolute
                //display: inline-block
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
        &--1
            margin-bottom: 330px
            justify-content: flex-end
            .txt
                margin-right: 30px
                max-width: 265px
                position: relative
                +r(991)
                    max-width: 235px
                .caption
                    left: 100%
                &::after
                    z-index: 1
                    content: ""
                    position: absolute
                    width: 145px
                    height: 19px
                    //top: calc(100% + 60px)
                    left: 100%
                    bottom: -79px
                    transform: translateX(-90px)
                    background: url('../img/svg/wave.svg') no-repeat center
                    +r(991)
                        transform: translateX(-50px)
            .img-box
                width: 457px
                +r(991)
                    width: 407px
                .img
                    height: 364px
                    width: 457px
                    background: url('../img/img1.jpg') no-repeat center
                    transform: translate(-50%, calc(-50% + 30px))
                    +r(991)
                        width: 407px
                        height: 324px
                        background-size: cover
        &--2
            margin-bottom: 330px
            justify-content: flex-start
            .txt
                max-width: 310px
                .caption
                    right: 100%
                    bottom: calc(100% + 20px)
            .img-box
                width: 432px
                margin-right: 41px
                +r(991)
                    width: 345px
                .img
                    width: 432px
                    height: 345px
                    background: url('../img/img2.jpg') no-repeat center 
                    transform: translate(-50%, calc(-50% + 40px))
                    +r(991)
                        width: 345px
                        height: 275px
                        background-size: cover
                        transform: translate(-50%, -50%)
        &--3
            margin-bottom: 375px
            justify-content: flex-end
            +r(991)
                margin-bottom: 390px    
            .txt
                max-width: 375px
                margin-right: 30px
                +r(991)
                    max-width: 330px
                .caption
                    left: 100%
                &::after
                    z-index: 1
                    content: ""
                    position: absolute
                    width: 23px
                    height: 23px
                    bottom: calc(100% + 15px)
                    right: calc(100% + 120px)
                    background-color: $pseudoBlueBg
                    border-radius: 50%
                    //background: url('../img/svg/wave.svg') no-repeat center
            .img-box
                width: 345px
                .img
                    width: 345px
                    height: 508px
                    background: url('../img/img3.jpg') no-repeat center 
                    transform: translate(-50%, calc(-50% + 20px)) 
        &--4
            //margin-bottom: 375px
            justify-content: flex-start
            .txt
                max-width: 290px
                //margin-right: 30px
                .caption
                    right: calc(100% - 160px)
                    min-width: 230px
                    .text
                        //text-transform: uppercase
                    .dot
                        display: none
            .img-box
                width: 555px
                margin-right: 41px
                +r(991)
                    width: 345px
                .img
                    width: 557px
                    height: 294px
                    background: url('../img/img4.jpg') no-repeat center 
                    transform: translate(-50%, calc(-50% - 20px)) 
                    +r(991)
                        width: 345px
                        height: 182px
                        background-size: cover