.teachers
	padding: 100px 0 225px 0 
	+r(991)
		padding: 90px 0 
	.container
		position: relative
		&::before
			content: ""
			position: absolute
			height: 23px
			width: 23px
			background-color: $pseudoBlueBg
			border-radius: 50%
			left: -110px
			top: 252px
		&::after
			content: ""
			z-index: -1
			position: absolute
			height: 2px
			left: 0
			top: 262px
			width: 2000px
			background-color: $pseudoGrayBg2
			transform: translate(-1000px)
			//background-color: red
		.title
			font-family: $GilroyExtraBold
			font-size: 45px
			text-transform: uppercase
			margin-bottom: 50px
			+r(991)
				font-size: 30px
				margin-bottom: 55px
		.description-bar
			display: flex
			position: relative
			+r(1199)
				flex-wrap: wrap
				justify-content: space-between
			&::after
				content: ""
				z-index: -1
				position: absolute
				height: 280px
				width: 280px
				border-radius: 50%
				border: 80px solid $pseudoGrayBg
				right: 0
				top: 0
				transform: translate(236px, -147px)
				+r(991)
					top: initial
					bottom: 0
					transform: translate(415px, -100px)
			.waves
				position: absolute
				top: 157px
				right: -237px
				.wave
					width: 66px
					height: 10px
					margin-bottom: 2px
					background: url('../img/svg/wave.svg') no-repeat center
				+r(991)
					top: initial
					bottom: 280px
					right: 0
			.description
				margin-right: 30px
				+r(1199)
					margin-right: 0
					margin-bottom: 45px
				&:last-of-type
					margin-bottom: 0
				.photo
					display: block
					line-height: 0
					margin-bottom: 30px
					margin-left: auto
					margin-right: auto
					width: 360px
					height: 286px
					+r(991)
						height: 274px
						width: 345px
						background-size: cover
					&--1
						background: url('../img/1.jpg') no-repeat center
					&--2
						background: url('../img/2.jpg') no-repeat center
					&--3
						background: url('../img/3.jpg') no-repeat center
					+r(1199)
						margin-left: 0
						margin-right: 0
						display: inline-block
				.lil-title
					font-family: $GilroyExtraBold
					font-size: 18px
					margin-bottom: 15px
				.text
					font-family: $GilroyLight
					font-size: 14px
					line-height: 1.7
					color: $pseudoBlackTxt
					+r(1199)
						max-width: 360px
					+r(991)
						font-size: 14px
						max-width: 345px
				//&:last-of-type
				&--last
					background-color: red
					+r(991)
						margin-bottom: 0